body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: white;
    vertical-align: middle;
}

h1 {
    color: black;
}

#dark {
    color: black;
    border: solid 1px;
    border-color: black;
}

#color-button {
    color: black;
    border: solid 1px;
    border-color: black;
}

#text-color-button {
    color: black;
    border: solid 1px;
    border-color: black;
}

#color {
    padding-left: 5px;
    padding-right: 5px;
}

#speed-up {
    color: black;
    border: solid 1px;
    border-color: black;
}

#speed-down {
    color: black;
    border: solid 1px;
    border-color: black;
}

.pfp{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    content: url("httpsPixel.png");
    animation: rotation 7s infinite linear;
}

.pfp-footer {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    content: url("httpsPixel.png");
    animation: rotation 7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cards {
    display: flex;
    margin-left: auto;
    margin-left: auto;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 100px;
}

.card {
    display: flex;
    text-align: left;
    grid-template-rows: max-content 100px 7fr;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    height: 3%;
}

:root {
    --width: 30px;
    --x-speed: 6s;
    --transition-speed: 1s;
}

.el {
    width: var(--width);
}

.x {
    animation: x var(--x-speed) linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--width)));
    }
}




