body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: white;
    vertical-align: middle;
    animation: fade 4s ease forwards;
}

h1 {
    color: black;
    
}

#dark {
    border-color: transparent;
    cursor: pointer;
}

#toggle-buttons {
    color: black;
    border: solid 1px;
    border-color: black;
}

#color-button {
    border-color: transparent;
    cursor: pointer;
}


#color {
    padding-left: 5px;
    padding-right: 5px;
}

.pfp{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    content: url("httpsPixel.png");
    animation: rotation 7s infinite linear;
    animation: fade 3s forwards;
}

.pfp-footer {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    content: url("httpsPixel.png");
    animation: rotation 7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cards {
    display: flex;
    margin-left: auto;
    margin-left: auto;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 100px;
    animation: 3s slide-right;
}

.card {
    display: flex;
    text-align: left;
    grid-template-rows: max-content 100px 7fr;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 5.5%;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    height: 3%;
}

.header {
    position: fixed;
    right: .5%;
    width: 100%;
    top: 0%;
    background-color: transparent;
    color: white;
    text-align: right;
    height: 3%;
}

.header-img-color {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    content: url("colorWheel.jpg");
}

.header-img-dark {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    content: url("darkMode.png");
}



.footer2 {
    position: fixed;
    left: 0;
    bottom: 1%;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

.footer2-github {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    content: url("gitHub1.png");
}

.footer2-email {
    width: 35px;
    height: 35px;
    border-radius: 60px;
    content: url("emailIcon.png");
    cursor: pointer;
}

.footer2-twitter {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    content: url("twitter.png");
}

.pfp {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    content: url("httpsPixel.png");
    animation: rotation 7s infinite linear;
}

:root {
    --width: 30px;
    --x-speed: 6s;
    --transition-speed: 3s;
}

.el {
    width: var(--width);
}

.x {
    animation: x var(--x-speed) linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--width)));
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}
/* form css */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
.form-container .send {
    background-color: green;
}
/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}